- var cap_cards = [{img: "cap1.jpg", btn_icon: "capi1.svg#capi", title: "Видеонаблюдение через интернет", descr: "Для онлайн доступа к камерам достаточно иметь доступ к Интернету на объекте. Подключившись удаленно к системе видеонаблюдения можно просматривать видео и запись в режиме времени."}, {img: "cap1.jpg", btn_icon: "capi1.svg#capi", title: "Видеонаблюдение через интернет", descr: "Для онлайн доступа к камерам достаточно иметь доступ к Интернету на объекте. Подключившись удаленно к системе видеонаблюдения можно просматривать видео и запись в режиме времени."}, {img: "cap1.jpg", btn_icon: "capi1.svg#capi", title: "Видеонаблюдение через интернет", descr: "Для онлайн доступа к камерам достаточно иметь доступ к Интернету на объекте. Подключившись удаленно к системе видеонаблюдения можно просматривать видео и запись в режиме времени."}, {img: "cap1.jpg", btn_icon: "capi1.svg#capi", title: "Видеонаблюдение через интернет", descr: "Для онлайн доступа к камерам достаточно иметь доступ к Интернету на объекте. Подключившись удаленно к системе видеонаблюдения можно просматривать видео и запись в режиме времени."}, {img: "cap1.jpg", btn_icon: "capi1.svg#capi", title: "Видеонаблюдение через интернет", descr: "Для онлайн доступа к камерам достаточно иметь доступ к Интернету на объекте. Подключившись удаленно к системе видеонаблюдения можно просматривать видео и запись в режиме времени."}, {img: "cap1.jpg", btn_icon: "capi1.svg#capi", title: "Видеонаблюдение через интернет", descr: "Для онлайн доступа к камерам достаточно иметь доступ к Интернету на объекте. Подключившись удаленно к системе видеонаблюдения можно просматривать видео и запись в режиме времени."}]

include pug/mixins

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title IT Lancer
    link(href="./style/custom.css" rel="stylesheet")
  body
    include pug/header
    main
      include pug/hero
      include pug/capabilities
      include pug/solutions
      include pug/offer
      include pug/cameras
      include pug/quality
      include pug/explanation
      include pug/faq
      include pug/profi
    include pug/footer
