header.header
  .container.header__container
    nav.nav.header__nav
      .logo.header__logo
        a(href="#")
          img(src="./static/img/logo.png")
      ul.ul.nav__ul
        li.nav__item
          a(href="#") Наши услуги
        li.nav__item
          a(href="#") Статьи
        li.nav__item
          a(href="#") Информация
        li.nav__item
          a(href="#") О нас
        li.nav__item
          a(href="#") Контакты
      button.btn-reset.btn.btn-blue.btn-blue_empty Отправить заявку
      button.btn-reset.btn.btn-lang Рус
