section.hero
  .container.hero__container
    h1.title.title-primary Проектирование и&nbsp;установка систем видеонаблюдения
    span.descr.hero__descr Защитите свой бизнес от&nbsp;неожиданных сбоев!
    button.btn.btn-blue Узнать больше
